.mb-sm {
  margin-bottom: 1.6rem;
}

.mb-md {
  margin-bottom: 3.2rem;
}

.mb-sm {
  margin-bottom: 3.2rem;
}

.mb-emd {
  margin-bottom: 3.6rem;
}

.mb-lmd {
  margin-bottom: 4.1rem;
}

.mb-lg {
  margin-bottom: 5.6rem;
}

.mb-elg {
  margin-bottom: 6.6rem;
}

.mb-hg {
  margin-bottom: 6.9rem;
}
 
//border-bottom sidebar
.bb-fl {
  border-bottom: .1rem solid $color-border-secondary;
}

//margin-bottom sidebar
.bb-fe {
  margin-bottom: 2.4rem;
}
